<app-home></app-home>
<h3 class="mt-5 mb-3 ">Create a new Reservation</h3>
<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
    <div>
        <div class="row mb-3">
            <div class="col">
                <label class="form-lable">Guest Name:</label>
                <input class="form-control" type="text" formControlName="guestName"/>
                <small class="text-danger" *ngIf="reservationForm.get('guestName')?.invalid && reservationForm.get('guestName')?.touched">Guest Name is required.</small>    
            </div>
            <div class="col">
                <label class="form-lable">Guest Email:</label>
                <input class="form-control" type="email" formControlName="guestEmail"/>
                <small class="text-danger" *ngIf="reservationForm.get('guestEmail')?.invalid && reservationForm.get('guestEmail')?.touched">Email is required.</small>    
            </div>
            <div class="col">
                <label class="form-lable">Mob No:</label>
            <input class="form-control" type="text" formControlName="mobNo"/>
            <small class="text-danger" *ngIf="reservationForm.get('mobNo')?.invalid && reservationForm.get('mobNo')?.touched">Mobile No is required.</small>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label class="form-lable">Room No:</label>
                <input class="form-control" type="number" formControlName="roomNo"/>
                <small class="text-danger" *ngIf="reservationForm.get('roomNo')?.invalid && reservationForm.get('roomNo')?.touched">Room No is required.</small>
            </div>
            <div class="col">
                <label class="form-lable">Check-In Date:</label>
                <input class="form-control" type="date" formControlName="checkInDate"/>
                <small class="text-danger" *ngIf="reservationForm.get('checkInDate')?.invalid && reservationForm.get('checkInDate')?.touched">Check-In Date is required.</small>
            </div>
            <div class="col">
                <label class="form-lable">Check-Out Date</label>
                <input class="form-control" type="date" formControlName="checkOutDate"/>
                <small class="text-danger" *ngIf="reservationForm.get('checkOutDate')?.invalid && reservationForm.get('checkOutDate')?.touched">Check-Out Date is required.</small>
            </div>
        </div>
        

        <button class="btn btn-primary" type="submit" [disabled]="this.reservationForm.invalid">Submit</button>
    </div>
</form>